{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %}
table of content
{% endblock %}
{% block scriptHeader %}
{% endblock %}
{% block content %}


<div class="jumbotron text-center" id="blogjumbo">
{% if book %}
    <h1>{{ book.title }}</h1>
    <p>{{ book.summary }}</p>
    <p>edited by <a href="{{ book.editor.website }}">{{ book.editor }}</a></p>
{% else %}
  <h1 class="blog-name">HowTo</h1>
  <p>A blog about how to do things</p>
{% endif %}
</div>
<div class="container text-center">
 <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% for object in object_list %}
        <div class="post-preview">
            <a href="{% url 'dynamicblog:post_detail' slug=object.slug %}">
                <h2 class="post-title">
                    {{ object.title }}
                </h2>
            </a>
            <h3 class="post-subtitle">
                {{ object.summary }}
            </h3>
            <p class="post-meta">Posted by <a href="{{ object.author.website }}">{{ object.author }}</a><br/> on {{ object.created}} (last update {{ object.updated }})
            </p>
        </div>
        <hr>
        {% endfor %}
    </div>
 </div>
 </div>
    
{% endblock %}
