{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %}
{{ object.slug }}
{% endblock %}
{% block scriptHeader %}
    <!-- markdwon extension https://github.com/richleland/pygments-css -->
<link rel="stylesheet" href="{% static 'blog/css/colorful.css' %}"/></link>
<style>
  #content {
  text-align: justify;
/*  margin-top: 100px;*/
  }
  #content  img { 
  max-width:1000px; 
  height:auto; 
  margin: 25px auto;
  display:block 
  }
     
  .post-title--3 {
  font-weight: bold;
  color: #f52c47;
  }
   
  .post-title--1 {
   font-weight: bold;
   color: #007bb4;
  }
  .post-meta {
  font-style: italic;
  font-size: 18px;
 /* font-weight: 600;*/
    }
  

    </style>
{% endblock %}
{% block content %}


{% if object.book_id == 3 %}
<h1 class="post-title--3">{{ object.title }}</h1>
<!-- <h3 class="post-author">by {{ object.author }}</h3> -->
{% elif object.book_id == 1 %}
<h1 class="post-title--1">{{ object.title }}</h1>

{% endif %}



<h3 class="post-meta"><b>Posted by</b> <a href="{{ object.author.website }}">{{ object.author }}</a><br/> on {{ object.created}} (last update {{ object.updated }})
            </h3>
<h4 class="post-meta"><b>status:</b> {{ object.status }}</h4>
<!-- <h5 class="post-meta"><b>tags</b></h5>
{% for tag in object.tags.all %}
    <li class="post-meta">{{ tag }}</li>
{% endfor %} -->

{% if updated %}
{{ updated }}
{% endif %}

{% if error %}
{{ error }}
{% endif %}

{% if md_text %}
{{ md_text|safe }}
{% endif %}

{% if tei_text %}
{{ tei_text|safe }}
{% endif %}

<hr/>
{% if request.user.is_superuser %}
<form action="{% url 'dynamicblog:update_text' slug=object.slug %}" method="POST">
{% csrf_token %}
  <div class="form-group">
    <label for="url">url to the repo</label>
    <input type="url" class="form-control" id="email" required="true" name="url" value="{{ object.repo_url }}">
  </div>
  <button type="submit" class="btn btn-default">update</button>
</form>
{% endif %}


<a href="{% url 'dynamicblog:serialize_text' slug=object.slug %}">export blog text </a><br/>



{% endblock %}
