{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %}
{{ object.slug }}
{% endblock %}
{% block scriptHeader %}
    <!-- markdwon extension https://github.com/richleland/pygments-css -->
    <link rel="stylesheet" href="{% static 'blog/css/colorful.css' %}"/></link>
    <style>
        img { max-width:1000px; height:auto; margin: 25px auto;display:block }
    </style>
{% endblock %}
{% block content %}

<div class="container">
<h1>{{ object.title }}</h1>
<h3>by {{ object.author }}</h3>
<h4>status: {{ object.status }}</h4>
<h5>tags</h5>
{% for tag in object.tags.all %}
    <li>{{ tag }}</li>
{% endfor %}

{% if updated %}
{{ updated }}
{% endif %}

{% if error %}
{{ error }}
{% endif %}

{{ md_text|safe }}
<hr/>
{% if request.user.is_superuser %}
<form action="{% url 'dynamicblog:update_text' slug=object.slug %}" method="POST">
{% csrf_token %}
  <div class="form-group">
    <label for="url">url to the repo</label>
    <input type="url" class="form-control" id="email" required="true" name="url" value="{{ object.repo_url }}">
  </div>
  <button type="submit" class="btn btn-default">update</button>
</form>
{% endif %}
{% for group in user.groups.all %}
    {% if group.name == 'testgroup' %}
        HALLO HANSI
    {% endif %}
{% endfor %}

<a href="{% url 'dynamicblog:serialize_text' slug=object.slug %}">save blog text as md</a><br/>


</div>
{% endblock %}
